<table class="table-striped table-hover custom-table">
  <thead style="cursor:pointer">
    <tr>
      <th *ngFor="let column of options.columns" (click)="sortHeaderClicked(column.value)">
        <span>{{column.name}}</span>
        <span *ngIf="isSortAsc(column.value)">^</span>
        <span *ngIf="isSortDesc(column.value)">v</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of options.columns">
        {{getCellValue(row, column)}}
      </td>
    </tr>
  </tbody>
</table>
