<div class="sms-table">
    <div class="container-fluid">
        <div class="row">
            <div class="minimap float-right">
                <div class="minimap-dropdown">                          
                    <button class="btn btn-success btn-sm" (click)="toggleDropdown()">
                        v
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="showDropdown ? 'dropdown-show' : 'dropdown-hide'">
                        <a class="dropdown-item" *ngFor="let column of getHideableCols()" (click)="toggleColumn(column)" href="#" [class.minimap-dot-hidden]="column.visibility.hidden">
                            {{ column.name }}
                        </a>
                    </div>
                </div>
                <div class="minimap-dots">
                    <ul class="list-inline">
                        <li class="list-inline-item" *ngFor="let column of options.columns" [class.minimap-dot-hidden]="column.visibility.hidden">
                            .
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover custom-table">
                <thead style="cursor:pointer">
                    <tr>
                        <th 
                            *ngFor="let column of options.columns" 
                            (click)="sortHeaderClicked(column.value)"
                            [ngClass]="column.visibility.hidden ? 'sms-col-hidden': 'sms-col-show'"
                        >
                            <span>{{column.name}}</span>
                            <span *ngIf="isSortAsc(column.value)">^</span>
                            <span *ngIf="isSortDesc(column.value)">v</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data">
                        <td 
                            *ngFor="let column of options.columns" 
                            [ngClass]="column.visibility.hidden ? 'sms-col-hidden': 'sms-col-show'"
                        >
                            {{getCellValue(row, column)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>        
</div>

